<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--DB設定start-->

    <!--帳號-->
    <add key="DBUserID" value="enteloanap"/>

    <!--密碼-->
    <add key="DBPassword" value="/A/zOaKavwm06LkihsaYag=="/>

    <!--DB Sserver-->
    <add key="DBSource" value="10.253.6.170"/>

    <!--Data Base-->
    <add key="DataBase" value="enteloan"/>

    <!--Provider-->
    <add key="Provider" value="SqlClient"/>

    <!--SchemaName-->
    <add key="SchemaName" value="dbo"/>

    <!--Min Connection Pool-->
    <add key="MinPool" value="3"/>

    <!--Max Connection Pool-->
    <add key="MaxPool" value="5"/>

    <!--Application Name:前面固定為EnTie，後面ＸＸＸＸＸ:依交易狀況自行決定；格式不可錯誤，否則無法取得connection-->
    <add key="AppName" value="EnTieＸＸＸＸＸ"/>

    <!--連接傳回至共用時，其建立時間會與目前時間相比較。
	  如果時距 (以秒計) 超過 Connection Lifetime 指定的值，則連接會被終結。
	  這項功能可用於叢集組態，強迫執行中伺服器和剛上線伺服器之間維持負載平衡。
	  零 (0) 值會使共用連接具有最長逾時。-->
    <add key="ConnectionLifetime"  value="30"/>

    <!--用戶端等待連接至伺服器的時間 (以毫秒為單位)。-->
    <add key="ConnectTimeout"  value="15"/>
    <!--DB設定End-->

  </appSettings>
</configuration>
