<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--AP_CODE設定start-->
	    <!--學歷-->
	    <add key="UPCODE1" value="1"/>
	    <!--所屬區代碼-->
	    <add key="UPCODE7" value="7"/>
	    <!--會員類別-->
	    <add key="UPCODE28" value="28"/>
	    <!--功德項目-->
	    <add key="UPCODE15" value="15"/>
	    <!--繳款方式-->
	    <add key="UPCODE23" value="23"/>                    
	    <!--付款方式-->
	    <add key="UPCODE31" value="31"/>
	    <!--幣別-->
	    <add key="UPCODE34" value="34"/>
	    <!--給收據方式-->	       
	    <add key="UPCODE272" value="272"/>
	    <!--專案代號-->
	    <add key="UPCODE276" value="276"/>
			<add key="UPCODE95" value="95"/>
			<add key="UPCODE164" value="164"/>
			<add key="UPCODE103" value="103"/>
			<add key="UPCODE152" value="152"/>
			<add key="UPCODE136" value="136"/>
			<add key="UPCODE165" value="165"/>
			<add key="UPCODE170" value="170"/>	   	           
			<add key="UPCODE127" value="127"/>
      <!--頁籤維護-->
      <add key="UPCODE37" value="37"/>
      <!--會員系統-->
      <add key="UPCODE78" value="78"/>
      <!--維護人員-->
      <add key="UPCODE76" value="76"/>
      <!--AP_CODE設定End-->
    
    <!--發信設定-->
      <add key="MAILFROM" value="mbscnn@gmail.com" />
      <add key="MAILACCOUNT" value="mbscnn@gmail.com" />
      <add key="MAILPASSWORD" value="xsw21QAZ" />
      <add key="MAILSMTP" value="smtp.gmail.com" />
      <add key="MAILPORT" value="587" />
    <!--發信設定End-->
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
