<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--Web設定start-->
          <add key="WWWURL" value="http://localhost/MBSC/default.aspx"/>
        <!--是否為測試模式-->
          <add key="Testing" value="true"/>
          <add key="debug" value="true"/>
        <!--Web設定start-->

        <!--DB msbc 設定start-->
          <add key="DBUserID" value="MBSCAP"/>
          <!--enteloanap-->
          <add key="DBPassword" value="MBSCAP"/>
          <!--10.253.6.170,192.168.8.118-->
          <!--<add key="DBSource" value="www.mbscnn.org"/>-->
          <add key="DBSource" value="localhost"/>
          <!--<add key="DBSource" value="192.168.8.118"/>-->
          <add key="DataBase" value="MBSC"/>
          <add key="Provider" value="MYSQLCLIENT"/>
          <add key="SchemaName" value="MBSC"/>
          <add key="MinPool" value="5"/>
          <add key="MaxPool" value="5"/>
          <add key="AppName" value="MBSCAP"/>
          <add key="ConnectionLifetime"  value="900"/>
          <add key="ConnectTimeout"  value="300"/> 
      <!--DB設定End-->
      
        <!--CodeList設定檔-->
        <!--<add key="CodeListConfigPath" value="C:\MBSCConf\CodeList_MBSC.config"/>-->
        <add key="CodeListConfigPath" value="C:\Inetpub\vhosts\mbscnn.org\httpdocs\MBSCConf\CodeList_MBSC.config"/>
      <!--設定檔 End-->      

        <!--IDM設定 Start-->
          <add key="WSURL_IDM_ELOAN" value="https://WIN-QRLAKF0WDIF/IDM_Web_ELOAN/"/>
          <add key="DBUserIDIdm" value="enteloanap"/>
        <!--getroles-->
          <add key="DBPasswordIdm" value="Bi2dlqTMIET6oC93OB0jtQ=="/>
          <add key="DBSourceIdm" value="192.168.8.118"/>
        <!--10.253.6.120(test),10.253.1.173(prod)-->
          <add key="DataBaseIdm" value="enteloan"/>
          <add key="ProviderIdm" value="SqlClient"/>
          <add key="SchemaNameIdm" value="dbo"/>
          <add key="MinPoolIdm" value="5"/>
          <add key="MaxPoolIdm" value="5"/>
          <add key="AppNameIdm" value="EnTieIdm"/>
          <add key="ConnectionLifetimeIdm"  value="900"/>
          <add key="ConnectTimeoutIdm"  value="300"/>

        <!--IDM_WEB_ELOAN內部設定 -->
          <add key="IDMWEB_RootSavePath"  value="C:\UPLOAD"/>
          <add key="IDMWEB_FoldersUpBound_Level_A"  value="1000"/>
          <add key="IDMWEB_FoldersUpBound_Level_B"  value="1000"/>
          <add key="IDMWEB_FilesUpBound"  value="1000"/>
          <add key="IDMWEB_FilesCapacityUpBound"  value="4500000000"/>

        <!--IDM設定 End-->

        <!--FLow設定start-->
          <add key="subsyschk" value="false"/>
        <!--MIS-->
          <add key="MISCheckSvr" value="http://127.0.0.1/WebServices/getPowerUser.asp"/>
          <add key="MISChkSwitch" value="false"/>
        <!--FLow設定start-->

      <!--Auth設定 start-->
        <!--安控檢核 default.aspx 49-->
        <add key ="ENABLE_DEFAULT_ASPX_SECURITY" value="FALSE"/>
        <add key ="DEFAULT_ASPX_PWD" value="xsw21qaz"/>
        <!--啟用人員送件檢核TRUE/FALSE-->
        <add key ="ENABLE_STAFFID_SEND_VALID" value="TRUE"/>
        <!--啟用人員分案檢核TRUE/FALSE-->
        <add key ="ENABLE_STAFFID_DIV_VALID" value="TRUE"/>
        <!--MIS遠距Request判斷字串-->
        <add key ="REMOTE_FLAG" value="CITRIX"/>
        <!--ELOAN內部遠距功能啟用/停用TRUE/FALSE-->
        <add key ="ENABLE_REMOTE" value="TRUE"/>
        <!--ELOAN內部遠距功能啟用/停用TRUE/FALSE-->
        <add key ="MARQUEE_SCROLLDELAY" value="300"/>    
      <!--Auth設定 End--> 
      
      <!--EN設定 start-->      
      <!--EN設定End-->

      <!--GA設定 start-->   
      <!--GA設定End--> 
      
      <!--下載暫存AP SERVER Start-->
        <add key="TifimgPath" value="C:\upload\"/>
        <add key="ImageURL" value="http://192.168.8.118/ViewTif/"/>
      <!--下載暫存AP SERVER End-->

      <!--mai 設定 Start-->
      
      <!--FromMail-->
      <!--GMail-->
      <!--
      <add key="MAILFROM" value="mbscnn@gmail.com" />
      <add key="MAILPASSWORD" value="xsw21QAZ" />
      <add key="MAILSMTP" value="smtp.gmail.com" />
      <add key="MAILPORT" value="587" />
      -->
      <!--mbscnn.org-->
      <add key="MAILFROM" value="admin@mbscnn.org" />
      <add key="MAILPASSWORD" value="zaq12wsx" />
      <add key="MAILSMTP" value="mail.mbscnn.org" />
      <add key="MAILPORT" value="25" />
      <!--outlook.com-->
      <!--
      <add key="MAILFROM" value="mbscnn@outlook.com" />
      <add key="MAILPASSWORD" value="zaq12wsx" />
      <add key="MAILSMTP" value="smtp.live.com" />
      <add key="MAILPORT" value="25" />      
      <add key="MAILSUB" value="佛陀原始正法中心會員e-Mail驗證" />
      -->
      <!--mail 結束 Start-->

      <!--eLand PDF路徑-->
      <add key="eLandPDFPath" value="http://127.0.0.1"/>

      <!--上傳檔大小-->
      <add key="UploadFileSize" value="2048000"/>
      <add key="ScaleFactor" value="0.05"/>

      <!-- 總行部門代號 -->
      <add key="HeadOffice1" value="912"/>
      
    </appSettings>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
