<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--AP_CODE設定start-->
        <!--學歷-->
        <add key="UPCODE1" value="1"/>
        <!--所屬區代碼-->
        <add key="UPCODE7" value="7"/>
        <!--會員類別-->
        <add key="UPCODE28" value="28"/>
        <!--功德項目-->
        <add key="UPCODE15" value="15"/>
        <!--繳款方式-->
        <add key="UPCODE23" value="23"/>
        <!--付款方式-->
        <add key="UPCODE31" value="31"/>
        <!--幣別-->
        <add key="UPCODE34" value="34"/>
        <!--語言-->
        <add key="UPCODE95" value="95"/>
        <!--專長-->
        <add key="UPCODE164" value="164"/>
        <!--職業-->
        <add key="UPCODE103" value="103"/>
        <!--職稱-->
        <add key="UPCODE152" value="152"/>
        <!--宗教信仰-->
        <add key="UPCODE127" value="127"/>
        <!--身心狀況-->
        <add key="UPCODE136" value="136"/>
        <!--傳承-->
        <add key="UPCODE65" value="165"/>
        <!--戒別-->
        <add key="UPCODE170" value="170"/>
        <!--AP_CODE設定End-->
    </appSettings>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
